
/* Este es un comentario */


body {
    background:url(../imagenes/cardumen.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: none;
    color: beige;
    text-size-adjust: auto;
    background-attachment: fixed;
    background-clip: border-box;
}



/*Selectores*/

/*Selector universal

* {
    margin: 0;
    padding: 0;
}

*/

a {
    color: rgba(150, 255, 255, 0.6)
}

p {
    background: rgba(98, 109, 129, 0.3);
    width: 500px;
    margin: 10px;
    border: 2px solid rgba(143, 160, 200, 0.3);

}


h2 {
    color: white;
    font-family: Arial;
    position: relative;
    left: 125px;
}

p {
    font-family: Cambria;
    /*Unidades de medida*/
    font-size: 16px;
    /*font-size: 16cm  Valor en centímetros*/
    /*font-size: 16em  Toma el valor del padre más cercano*/
    /*font-size: 16rem Toma el valor del padre body*/
    /*font-size: 16%   Toma el valor porcentual respecto a la pantalla*/
}

h3 {
    color: white;
}

.textBlock {
    position: relative;
    top:;
    bottom:205px;
    right:;
    left:550px;
}


.menuBar {

}


.mainBlock {
    background: rgba(13, 59, 102, 0.4);
    padding: 15px;
    width: 1075px;
    margin: 10px;
    /*border: 2px solid rgba(143, 160, 200, 0.3);*/
    position: relative;
    left: 380px;
}

.mainImage {
    position: relative;
    left: 390px;

}